/* all */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* header */
header {
    height: 150px;
    width: 100%;
}

.head-right {
    padding: 30px;
    float: right;
    display: flex;
}

#name {
    padding: 15px 0;
    font-size: 20px;
    font-family: Calibri;
    color: #9C9999;
}

#logo {
    height: 60px;
    width: auto;
}

/* main */
.container {
    margin: 0 140px;
    display: flex;
}

.container-left {
    float: left;
    margin-right: 80px;
}

.container-left h1 {
    font-size: 60px;
    line-height: 80px;
    font-family: Libre Caslon Display;
    padding-bottom: 40px;
}

.container-left h1 span {
    color: #6775F7;
}

.container-left p {
    font-size: 20px;
    line-height: 30px;
    color: #9C9999;
    padding-bottom: 40px;
}

.container-left button {
    padding: 15px 40px;
    border-radius: 50px;
    color: white;
    background-color: #6775F7;
}

.container-left button:hover {
    background-color: #2e41f2;
    cursor: pointer;
    transition: 1s ease;
}

.container-right {
    float: right;
}