body .container{
    width: 85%;
} 

.app-logo{
    margin: 0;
}
.app-logo div #logo{
    width: 85px;
    height: 50px;
    margin-top: 10px;
}

.app-logo .row .col{
    padding: 0;
}

#app-name{
    float: right;
    font-family: Calibri;
    color: #9C9999;
    font-size: 20px;
}

#landing-h1{
    font-family: Libre Caslon Display;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 110px;
    margin-top: 0;
    word-spacing: 6px;
}

#landing-captions{
    font-family: calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #727272;

}

#offer{
    color: #6775F7;
}

#graphics{
    padding-left: 60px;
    padding-top: 25px;
    width: 703px;
    height: 533px;
}

.btn
{
    border-radius: 50px;
    background-color:  #6775F7;
}

.btn:hover{
    background-color:  #293ce9;   
}

.landing-btn{
    margin-top: 30px;
}

.nav-row{
    margin: 0px;
}

