<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400&display=swap" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    {% block head %} {% endblock %}
</head>

<body>
   
    <div class="row app-logo nav-row">
        <div class="col s2 offset-s10">
          <div class="row">
            <div class="col s8">
              <p id="app-name">Growth Square</p>
            </div>
            <div class="col s4"><img id="logo" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo"></div>
          </div>
        </div>
      </div>
    
    
    {% block body %}
    {% endblock %} 

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>                  <!-- jquery should come before materialize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
</body>

</html>