{% extends 'base.html' %}

{% block head %}
<title>Growth Square</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing_alt.css') }}">
{% endblock %}

{% block body %}

<header>
  <div class="head-right">
    <p id="name">Growth Square</p>
    <img id="logo" src="{{ url_for('static', filename='images/logo.jpg') }}">
  </div>
</header>
<!-- Main -->
<div class="container">
  <div class="container-left">
    <h1>Practical <span>Plans</span> <br> for <br> Practical Businesses.</h1>
    <p>We provide valuable information to companies to allow them to grow at a booming rate by analysing market trends. Input the details of your customers and get relevant offer recommendations that can exponentially grow your business.</p>
    <button>Get Started</button>
  </div>
  <div class="container-right">
    <img id="graphics" src="{{ url_for('static', filename='images/graphics.png') }}" >
  </div>
</div>         

{% endblock %}